:root,
html,
body {
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "GeSsTwo";
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
  padding-top: 0.5% !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
  display: flex;
  flex-direction: column;
  background-color: #e8e6d2;
}
body > header {
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  border-bottom: black solid 2px;
  background-color: #00cec9;
  position: relative;
}
body > header label {
  display: flex;
  align-items: center;
  font-size: xx-large;
  font-weight: 500;
  color: #000e5d;
}
body > header > label {
  flex: 1;
}
body > header > div {
  display: flex;
  flex-direction: row;
}
body > header > div label {
  min-width: fit-content;
  margin-left: 2%;
}
body > header > div input#inovice-open-time {
  margin-left: 1em;
  line-height: 100%;
  top: 0px;
  height: 100%;
  text-align: center;
  font-size: x-large;
  color: #7a0008;
  background-color: #f6f0c8;
  width: 20%;
  padding-bottom: 5px;
}
body > main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
body > main div#inovice-form {
  border-radius: inherit;
  font-size: x-large;
}
body > main div#inovice-form input {
  text-align: center;
  font-size: x-large;
}
body > main div#inovice-form input#inovice-id {
  color: #000e5d;
  background-color: #7dc5f8;
}
body > main div#inovice-form input#inovice-date {
  color: black;
  background-color: #efeee2;
}
body > main div#inovice-form input#inovice-item-name {
  color: #000e5d;
  background-color: #f6f0c8;
  border-width: 2px;
  border-radius: 2px;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
body > main div#inovice-form .inovice-item-name {
  border-top-left-radius: inherit;
}
body > main div#inovice-list {
  flex: 1;
  display: flex;
  flex-direction: column;
}
body > main div#inovice-items {
  flex: 1;
  display: flex;
  flex-direction: column;
}
body > main div#inovice-items table {
  border: rgba(0, 0, 0, 0.6) solid 1px;
  width: 100%;
  overflow-y: auto;
  background-color: #efeee2;
  font-size: 110%;
}
body > main div#inovice-items table th {
  border: rgb(0, 0, 0) solid 1px;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: inherit;
}
body > main div#inovice-items table td {
  border: rgba(0, 0, 0, 0.6) solid 1px;
  text-overflow: ellipsis;
  max-width: 100%;
}
body > main div#inovice-items table td input {
  background-color: inherit;
  border: none;
  outline-width: 0;
  width: inherit;
  height: inherit;
  outline: none;
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  appearance: none;
  font-size: inherit;
  padding-left: 1%;
  padding-right: 1%;
  background-color: inherit;
}
body > main div#inovice-items table [data-id=unit],
body > main div#inovice-items table [data-id=price],
body > main div#inovice-items table [data-id=quantity],
body > main div#inovice-items table [data-id=sell-price],
body > main div#inovice-items table [data-id=value] {
  text-align: center;
}
body > main div#inovice-items table [data-id=english-name] {
  direction: ltr;
}
body > * + * {
  margin-top: 0.5em;
}
body .upper,
body .lower {
  border-radius: inherit;
  display: flex;
  flex-direction: row;
}
body .upper label + input,
body .lower label + input {
  margin-right: 0.25em;
}
body .upper div:has(input),
body .lower div:has(input) {
  display: flex;
  flex: 1;
}
body .upper div:has(input) input,
body .lower div:has(input) input {
  flex: 1;
  width: 100%;
}
body .upper div:has(input):has(input#inovice-item-name),
body .lower div:has(input):has(input#inovice-item-name) {
  flex: 2;
}
body .upper > div + div {
  margin-right: 0.5em;
}
body .lower > div:has(input#inovice-notes),
body .lower input#inovice-notes {
  display: flex;
  flex: 1;
  text-align: unset;
}
body .lower input#inovice-notes {
  background-color: #efeee2;
  outline: none;
  border-width: 1px;
}
body > * {
  border: rgba(0, 0, 0, 0.6) solid 1px;
  border-radius: 5px;
  padding: 0.5em;
}
body footer {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
body footer label {
  display: flex;
  align-items: center;
}
body footer button,
body footer input[type=button],
body footer .btn,
body footer label[for=inovice-total] {
  color: #7a0008;
  background-color: #dad7d8;
  border: rgba(0, 0, 0, 0.6) solid 1.5px;
  padding: 0.25%;
  border-radius: 1px;
}
body footer button,
body footer label,
body footer input, body footer {
  font-size: 110%;
}
body footer input#inovice-index {
  text-align: center;
  font-weight: bold;
  min-width: 4%;
  max-width: 4%;
  margin: 0;
}
body footer label[for=inovice-print-lang] {
  color: #000e5d;
  display: flex;
  align-items: center;
  min-width: fit-content;
}
body footer input#inovice-total {
  color: #000e5d;
  background-color: #7dc5f8;
  text-align: center;
  flex: 1;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
body footer div#inovices-log {
  flex: 1;
  display: inline-block;
}
body footer button + *,
body footer input[type=button] + * {
  margin-left: 0.25em;
}
body footer .btn-log {
  color: unset;
}
body footer label#inovice-count {
  display: flex;
  align-items: center;
  font-size: 100%;
}
body footer label#inovice-count + * {
  margin-right: 1em;
}
body footer label + * {
  margin-left: 0.25em;
}
body footer button#btn-prev-inovice, body footer button#btn-next-inovice {
  margin: 0;
}
body footer button#btn-first-inovice {
  margin-right: 0.25em;
}
body footer button:disabled {
  background-color: unset;
  color: gray;
  border-color: gray;
}

button:hover,
input[type=button]:hover,
.btn:hover,
body footer label[for=inovice-total]:hover {
  background-color: rgba(125, 197, 248, 0.5);
}
button:hover:active,
input[type=button]:hover:active,
.btn:hover:active,
body footer label[for=inovice-total]:hover:active {
  font-weight: 500;
}

@font-face {
  font-family: "BeyondWonderland";
  src: url(../asset/fonts/Beyond-Wonderland.ttf);
}
@font-face {
  font-family: "GeSsTwo";
  src: url(../asset/fonts/GE_SS_Two_Medium-1.otf);
  unicode-range: U+30-39;
}
h1.title {
  font-family: BeyondWonderland;
  font-weight: normal;
  font-size: x-large !important;
  border: none;
  text-align: center;
  font-size: 40pt !important;
  margin: 0;
  color: purple;
  padding: 0;
}

h5.footer {
  text-align: center;
  border: none;
  font-size: large;
  padding: 0;
  margin: 0;
  margin-top: unset;
  color: #000e5d;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield;
}
